body{
    background-color: rgb(235, 240, 240);
}

img {
    max-width: 100%;
    max-height: 100%;
}
#container{
 
    width: 100%;
    height:100%;
    display: flex;
    justify-items: center;
    flex-flow: column;
    
}

#header{
 
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
    
    background-color: rgb(239, 240, 243);
    
}

#container_login{
    align-self:  center;
    height: 60vh;
    width: 80vh;
    display: flex;
    flex-flow: row;
    background-color: rgb(255, 255, 255);
    border: 1px solid black ;
    border-radius: 3px;
}

#imagem_celular{
    width:50%;
    height:100%;
    display: flex;
    order:1;
}
#caixas_login{
    display: flex;
    flex-flow: column;
    order:2;
    width:100%;
     
border: 1px solid black;
     
}

#login_input{
    text-align: center;
}

#cadastrar{
    text-align: center;
    padding-top: 25px;
}


#download_app{
  display: flex;
  
width: 50%;
padding-top: 50px;

}